
body{
    
    background: url(imagenseleccionaractividademociones.jfif);
	background-size: cover;
}
 

.adivinaLaEmocion{
    display: inline-block;
    background-color: rgb(221, 12, 106);
    padding: 40px 80px;
    border: 100px;
    color: #fff;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15%;
    border-radius: 100px;
    
    }

    .VOLVER{
        border: 300px;
        background-color: #1a50e4;
        color: #fff;
        padding: 10px 3cqh; 
        margin-right:10px;
        margin-left:10;
        border-radius:100px;
      
     }
    
     .botonesDeInicio{
        align-items: center;
        text-align: center;
     }
    
    